VITE_SIMULATE_EEG=true
VITE_IPFS_GATEWAY=https://ipfs.io/ipfs/
VITE_CONSENT_VAULT_ADDRESS=
VITE_REVOCATION_REGISTRY_ADDRESS=
VITE_DATA_DAO_ADDRESS=
VITE_BOUNTY_POOL_ADDRESS=
VITE_WALLETCONNECT_PROJECT_ID=
VITE_CHAIN_ID=84532
PRIVATE_KEY=
BASESCAN_API_KEY=
